table, td {
	border: 1px solid black;
}

td {
	width: 40px;
	height: 40px;
}

main {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.gameTable {
	width: 80%;
	display: flex;
	justify-content: center;
	background-image: url(../img/Desktop_HD.png);
}

.menu {
	width: 20%;
	height: 100%;
}

.menu-btns {
	height: 50%;
	background: blue;
}

.menu-btns-saveReset {
	text-align: center;
}

.menu-btns-scoresDiv {
	font-size: 24px;
	text-align: center;
	margin-top: 40px;
}

.menu-dataIG {
	height: 50%;
}

.menu-dataIG-pers {
	display: flex;
	background: green;
	height: 90%;
}

.menu-dataIG-turns {
	height: 10%;
}

.menu-dataIG-pers-trump {
	width: 50%;
}
.menu-dataIG-pers-melania {
	width: 50%;
}

.victoryTrump, .victoryMelania {
	position: absolute;
	z-index: 10;
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	background: rgba(200, 200, 200, .8);
	justify-content: space-around;
	border-radius: 10px;
	left: 300px;
	display: none;
}

.victoryTrumpVid, .victoryMelaniaVid {
	width: 100%;
	height: 90%;
}

.victoryTrumpTitle, .victoryMelaniaTitle {
	text-align: center;
}

.currentPlayer {
	background: red;
}

.currentPlayer .TrumpCacBtn {
	background: yellow;
}
.currentPlayer .MelaniaCacBtn {
	background: yellow;
}